*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: brown;
    color: aliceblue;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    
}

ul{
    display: flex;
}

li{
    display: flex;
    padding: 10px;
   
}

li a{
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
main{
    padding: 20px;
    border-top: 1px solid black; 
}